* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-container {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backDrop {
    z-index: 11;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.aboutBox {
    background-color: white;
    border-radius: 10px;
    min-height: 100px;
    width: 90vw;
    padding: 90px 90px;
    animation: fadeIn 4s ease;
    font-size: 40px;
    overflow: auto;
}

.aboutBox h2 {
    margin-bottom: 70px;
}

.logo {
    position: absolute;
    top: 0;
    height: 450px;
    display: none;
    pointer-events: none;
    z-index: 10;
}

.privacy {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.tick {
    color: green;
    width: 80px;
    height: 80px;
}

.slideUp {
    display: block;
    animation: slideUp 1s forwards;
}

.fadeIn {
    display: block;
    animation: fadeIn 2s ease;
}

.circle-1,
.circle-2,
.circle-3,
.circle-4 {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle-1 {
    background-color: rgb(228, 129, 129);
    animation: expandCircle1 1s ease forwards;
    animation-delay: 0s;
}

.circle-2 {
    background-color: rgb(233, 94, 94);
    animation: expandCircle2 1s ease forwards;
    animation-delay: 0.3s;
}

.circle-3 {
    background-color: rgb(236, 72, 72);
    animation: expandCircle3 1s ease forwards;
    animation-delay: 0.8s;
}

.circle-4 {
    background-color: rgb(233, 58, 58);
    animation: expandCircle4 1s ease forwards;
    animation-delay: 1.2s;
    font-size: 5rem;
    border: 1px solid white;
}

#authorize_button {
    display: none;
    background-color: transparent;
    border: none;
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#authorize_button.show {
    display: block;
}

.after_authorize {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bolder;
    color: white;
}

@keyframes expandCircle1 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 2000px;
        height: 2000px;
    }
}

@keyframes expandCircle2 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 1500px;
        height: 1500px;
    }
}

@keyframes expandCircle3 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 1000px;
        height: 1000px;
    }
}

@keyframes expandCircle4 {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 500px;
        height: 500px;
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Just for the laptop stuff*/
@media (min-width: 1000px) {
    .logo {
        top: 100px;
        height: 250px;
    }
    .aboutBox {
        min-height: 200px;
        width: 500px;
        font-size: 20px;
    }
}
